body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    background-image: url(https://img.freepik.com/free-vector/abstract-green-waves-background-dynamic-shapes-composition-vector-illustration_1142-13285.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background-color: #d2d7d8;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }

  h5 {
    text-align: center;
    margin-bottom: 20px;
}
  
  .form-section {
    background: #f5f4f4;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h2 {
    margin-top: 0;
  }
  
  .form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-section input, .form-section select, .form-section textarea, .form-section button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-section button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .form-section button:hover {
    background-color: #0056b3;
  }
  
  .book-list {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .book-list div {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .book-list div:last-child {
    border-bottom: none;
  }
  
  @media (max-width: 768px) {
    .form-section, .book-list {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  }
  